body{
    background-color: burlywood;
    font-family: Roboto Condensed ;
}
.introduction{
    background-color: cornsilk;
    padding: 32px;
    margin: 0 auto;
    width: 800px;
    text-align: left;
    border-radius: 20px; 
    margin-top: 40px;   
}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.btn{
    padding: 8px 24px;
    background-color: burlywood;
    color: black;
    border-radius: 4px;
    display: inline-block;
    margin-top: 30px;
}
.presentation{
    background-color:aquamarine;
    padding: 32px;
    margin: 0 auto;
    width: 800px;
    text-align: left;
    border-radius: 20px; 
    margin-top: 40px;  
}
.video{
    background-color: cornsilk;
    padding: 32px;
    margin: 0 auto;
    width: 800px;
    text-align: left;
    border-radius: 20px; 
    margin-top: 40px;  
}
.ingredients{
    background-color: cornsilk;
    padding: 32px;
    margin: 0 auto;
    width: 800px;
    text-align: left;
    border-radius: 20px; 
    margin-top: 40px;  
}
.preparation{
    background-color: cornsilk;
    padding: 32px;
    margin: 0 auto;
    width: 800px;
    text-align: left;
    border-radius: 20px; 
    margin-top: 40px;  
}
.images{
    background-color: cornsilk;
    padding: 32px;
    margin: 0 auto;
    width: 1000px;
    text-align: left;
    border-radius: 20px; 
    margin-top: 40px;  
}